*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color Theme Swatches in RGBA
.color-theme_Boolzapp-screenshot-1-rgba { color: rgba(141, 213, 242, 1); }
.color-theme_Boolzapp-screenshot-2-rgba { color: rgba(3, 140, 115, 1); }
.color-theme_Boolzapp-screenshot-3-rgba { color: rgba(212, 242, 182, 1); }
.color-theme_Boolzapp-screenshot-4-rgba { color: rgba(217, 210, 204, 1); }
.color-theme_Boolzapp-screenshot-5-rgba { color: rgba(242, 113, 39, 1); } */

